@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", serif;
}

.top-bar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #2C3B37;
    color: #ffffff;
    padding: 24px 0;

    a {
        color: #ffffff;
        text-decoration: none;

        .chevron-down {
            width: 24px;
            height: 24px;
        }
    }

    .top-bar-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-items {
        display: flex;
        gap: 24px;
    }

    .menu-items>a {
        display: flex;
        align-items: center;
    }

    .language-selector {
        display: flex;
        gap: 8px;
        align-items: center;
    }
}

.logo-container:hover {
    color: red;
}

.content-container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
}

.front-page-hero {
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;

    .hero-image {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -1;
    }
}

.image-container {
    margin-right: calc(((100vw - 1440px) / 2) * -1);
    width: calc(40% + ((100vw - 1440px) / 2))
}

.large-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding-top: 100px;
    background: black;
}

.large-image-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    text-transform: uppercase;
    padding: 42px 24px;
    border-radius: 8px;
    background: green;
    background-size: cover;
    background-position: center;
}

.admin-bar .top-bar {
    top: 32px;
}